<div class="home-picture">
  <h1 class="home-title">Save your favourite movies</h1>
</div>
<div class="home-content">
  <div class="navbar transparent navbar-inverse navbar-fixed-top">
    <h4>My Lists<h4/>
    <h3><%= link_to 'Create a movie list', new_list_path, class: "btn btn-success" %></h3>
  </div>
  <div class="lists">
      <% @lists.each do |list| %>
        <div class="card">
          <%= link_to list_path(list), style: "display:block" do %>
            <div class="card-body">
              <%= list.name %>
              <% link_to '<i class="fas fa-trash"></i>'.html_safe, list_path(list), method: :delete, data: { confirm: 'Are you sure you want to delete this list'} %>
            </div>
            <% if list.bookmarks.any? %>
              <!-- list is not empty -->
              <img class="card-img-top" src=<%="https://image.tmdb.org/t/p/w500/#{ list.movies.first.poster_url}"%>>
            <% else %>
              <img class="card-img-top" style="background-image: url('https://media.istockphoto.com/vectors/realistic-3d-film-strip-cinema-on-blue-background-with-place-for-text-vector-id1302499179?b=1&k=20&m=1302499179&s=170667a&w=0&h=GtJ41cywq9HFHAu7Hv2VW0xbZ20KoVsmELrxB6Uthk4=')">
            <% end %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
